
@import 'variables';


//design-banner-title
.design-banner-title {
	font-size: 40px;
	line-height: 40px;
	color: white;
	text-align: center;
}

@media (min-width: 521px) {
	.design-banner-title {
		position: absolute;
		top: 76px;
		width: 100%;

		&.xs-only {
			display: none;
		}
	}
}

@media (max-width: 520px) {
	.design-banner-title {
		font-size: 18px;
		line-height: 100px;
		height: 100px;
		background-color: $bg_color;
		opacity: 0.95;
	}
}

@media (min-width: 921px) {
	.design-banner-title {
		font-size: 52px;
		line-height: 52px;
	}
}



//design-banner-img
@media (max-width: 520px) {
	.design-banner-img {
		display: none !important;
	}
}

.design-banner-img {
	margin-top: -3px;
}



//design-main
.design-main-start {
	padding-top: 50px;
}

.design-main-start, .design-main-area {
	padding-bottom: 100px;
}

@media (min-width: 521px) {
	.design-main-start {
		padding-top: 100px;
	}

	.design-main-start, .design-main-area {
		padding-bottom: 130px;
	}
}

@media (min-width: 921px) {
	.design-main-start {
		padding-top: 194px;
	}

	.design-main-start, .design-main-area {
		padding-bottom: 150px;
	}
}

.design-main-end {
	padding-bottom: 150px;
}

@media (min-width: 521px) {
	.design-main-end {
		padding-bottom: 320px;
	}
}

.design-main-area {
	padding-left: 60px;
	padding-right: 60px;
	box-sizing: border-box;
}

.design-grey-area {
	background-color: $bg_color_darkgrey;

	.design-text-title, .design-text-content {
		color: white;
	}
}

.design-black-area {
	background-color: $bg_color;

	.design-text-title, .design-text-content {
		color: white;
	}
}

.design-lightgrey-area {
	background-color: $bg_color_grey;
}

.design-area-end0 {
	padding-bottom: 0px !important;
}


//design-text
.design-text-title {
	font-size: 26px;
	line-height: 26px;
	color: $font_grey_title;
	text-align: center;
}

.design-text-content {
	font-size: 14px;
	color: $font_grey_content;
}

.design-header {
	margin-top: 100px;

	.design-text-sub-title {
		padding: 0% 10%;
		margin-top: 15px;
		text-align: center;
	}

	&.individual {
		margin-top: 60px;

		.design-header-content {
			margin-top: 100px;
		}
	}
}

.design-header-content {
	margin-top: 25px;
}

@media (min-width: 521px) {
	.design-header {
		margin-top: 140px;

		.design-text-sub-title {
			padding: 0% 20%;
			margin-top: 25px;
		}

		&.individual {
			margin-top: 100px;

			.design-header-content {
				margin-top: 150px;
			}
		}
	}

	.design-header-content {
		margin-top: 40px;
	}
}

@media (min-width: 921px) {
	.design-header {
		margin-top: 180px;

		.design-text-sub-title {
			padding: 0% 1/3*100%;
		}

		&.individual {
			margin-top: 150px;

			.design-text-sub-title {
				margin-top: 35px;
			}

			.design-header-content {
				margin-top: 200px;
			}
		}
	}

	.design-header-content {
		margin-top: 60px;
	}
}

.design-header-notop, .design-header-content-notop {
	margin-top: 0px !important;
}


//design-achivement
.design-achivement {
	text-align: center;
	width: 100%;
	float: left;
	margin-bottom: 40px;

	.design-achivement-icon {
		width: 60px;
		height: 60px;
	}

	.design-achivement-title {
		margin-top: 25px;
	}

	.design-achivement-content {
		margin-top: 15px;
		text-align: left;
	}

	&.design-achivement-last {
		margin-bottom: 0px;
	}
}

@media (min-width: 521px) {
	.design-achivement {
		padding: 0px 15px;
		width: 1/3*100%;
		box-sizing: border-box;
		margin-bottom: 0px;
	}
}




.design-4-siblings {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 5px 5px;
}

@media (min-width: 521px) {
	.design-4-siblings {
		width: 1/3*100%;
		padding: 8px 8px;
	}
}

@media (min-width: 921px) {
	.design-4-siblings {
		width: 25%;
		padding: 15px 15px;
	}
}

.design-3-siblings {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding: 5px 5px;

	&.nopad {
		padding: 0px !important;
	}
}

@media (min-width: 521px) {
	.design-3-siblings {
		width: 1/3*100%;
		padding: 8px 8px;
	}
}

@media (min-width: 921px) {
	.design-3-siblings {
		padding: 15px 15px;
	}
}


.design-img-container {
	img {
		width: 100%;
		max-width: 100%;
		display: block;
	}
}





//this is especially for design page 1
.design-page-1-methodology-box {
	height: 100%;
	background-color: $bg_color_grey;

	.content-box {
		padding: 10px;
	}

	.design-img-container {
		padding: 15%;
	}
}

@media (min-width: 521px) {
	.design-page-1-methodology-box .content-box {
		padding: 25px;
	}
}

@media (min-width: 921px) {
	.design-page-1-methodology-box .content-box {
		padding: 50px;
	}
}


//this is especially for design page 7
.design-3-siblings-wc {
	width: 1/3*100%;
	float: left;
	background-color: $bg_color_grey;
	position: relative;
	height: 80px;

	img {
		height: 60px;
		width: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -30px;
		margin-left: -30px;
	}
}

@media (min-width: 521px) {
	.design-3-siblings-wc {
		height: 160px;

		img {
			height: 100px;
			width: 100px;
			margin-top: -50px;
			margin-left: -50px;
		}
	}
}

@media (min-width: 921px) {
	.design-3-siblings-wc {
		height: 200px;

		img {
			height: 140px;
			width: 140px;
			margin-top: -70px;
			margin-left: -70px;
		}
	}
}

.wc-middle {
	background-color: $bg_color_darkgrey;
}

.wc-images-area {
	position: relative;
}

.wc-images-area-words {
	position: absolute;
	top: 8%;
	left: 10%;
	right: 50%;

	&.smaller {
		display: none;
	}
}

@media(max-width: 821px) {
	.wc-images-area-words {
		display: none;

		&.smaller {
			display: block;
		}
	}
}


//thi is especially for art page
.art-pic {
	text-align: center;

	img {
		width: 100%;
		max-width: 100%;
		display: inline-block;
	}
}

@media (min-width: 521px) {
	.art-pic {
		text-align: center;

		img {
			width: 70%;
			max-width: 70%;
		}
	}
}

@media (min-width: 921px) {
	.art-pic {
		text-align: center;

		img {
			width: 50%;
			max-width: 50%;
		}
	}
}

@media (min-width: 1321px) {
	.art-pic {
		text-align: center;

		img {
			width: 30%;
			max-width: 30%;
		}
	}
}



//this is especially for design page 5
.design-3-siblings-design5 {
	img {
		display: inline;
	}

	@media (max-width: 520px) {
		img {
			width: 70px;
			height: 70px;
		}
	}

	background-color: $bg_color_grey;
	text-align: center;
	padding: 50px 10px;
	height: 100%;
	box-sizing: border-box;
}

.img-small-icon {
	height: 60px;
	width: auto !important;
	display: inline !important;
	margin: 20px 0px;

	&.following {
		margin-top: 50px;
	}

	@media (min-width: 521px) {
		margin: 30px 0px;

		&.following {
			margin-top: 80px;
		}
	}

	@media (min-width: 921px) {
		margin: 50px 0px;

		&.following {
			margin-top: 130px;
		}
	}
}







//for 1
.design-3-siblings-design1 {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding: 5px 5px;

	.design1-container {
		background-color: #222222;
		padding: 68px 10%;

		&.nopad {
			padding: 0px 0px;
		}

		.design1-font-sm {
			font-size: 20px;
			line-height: 20px;
		}

		.design1-font-mid {
			font-size: 24px;
			line-height: 24px;
		}

		.design1-font-midbig0 {
			font-size: 30px;
			line-height: 30px;
		}

		.design1-font-midbig {
			font-size: 40px;
			line-height: 40px;
		}

		.design1-font-midbig2 {
			font-size: 50px;
			line-height: 50px;
		}

		.design1-font-big {
			font-size: 100px;
			line-height: 100px;
			margin: 27px 0px 74px 0px;
		}

		.design1-color-light {
			color: $font_grey_light;
		}

		.design1-v-mid {
			vertical-align: middle;
		}

		.design1-ml-10 {
			margin-left: 10px;
		}

		.design1-mt-20 {
			margin-top: 20px;
		}

		.design1-mt-60 {
			margin-top: 60px;
		}

		.design1-mr-15 {
			margin-right: 15px;
		}
	}
}

@media (min-width: 521px) {
	.design-3-siblings-design1 {
		width: 50%;
		padding: 8px 8px;

		.design1-container {
			padding: 45px 8%;

			.design1-font-sm {
				font-size: 16px;
				line-height: 16px;
			}

			.design1-font-mid {
				font-size: 20px;
				line-height: 20px;
			}

			.design1-font-midbig0 {
				font-size: 25px;
				line-height: 25px;
			}

			.design1-font-midbig {
				font-size: 32px;
				line-height: 32px;
			}

			.design1-font-midbig2 {
				font-size: 42px;
				line-height: 42px;
			}

			.design1-font-big {
				font-size: 80px;
				line-height: 80px;
				margin: 22px 0px 56px 0px;
			}

			.design1-ml-10 {
				margin-left: 8px;
			}

			.design1-mt-20 {
				margin-top: 16px;
			}

			.design1-mt-60 {
				margin-top: 46px;
			}

			.design1-mr-15 {
				margin-right: 12px;
			}
		}
	}
}

@media (min-width: 921px) {
	.design-3-siblings-design1 {
		width: 1/3*100%;
		padding: 15px 15px;

		.design1-container {
			padding: 30px 6%;

			.design1-font-sm {
				font-size: 14px;
				line-height: 14px;
			}

			.design1-font-mid {
				font-size: 18px;
				line-height: 18px;
			}

			.design1-font-midbig0 {
				font-size: 22px;
				line-height: 22px;
			}

			.design1-font-midbig {
				font-size: 28px;
				line-height: 28px;
			}

			.design1-font-midbig2 {
				font-size: 36px;
				line-height: 36px;
			}

			.design1-font-big {
				font-size: 60px;
				line-height: 60px;
				margin: 18px 0px 48px 0px;
			}

			.design1-ml-10 {
				margin-left: 6px;
			}

			.design1-mt-20 {
				margin-top: 14px;
			}

			.design1-mt-60 {
				margin-top: 38px;
			}

			.design1-mr-15 {
				margin-right: 10px;
			}
		}
	}
}


.design-img-2 {
	width: 100% !important;
}

@media (min-width: 721px) {
	.design-img-2 {
		width: 50% !important;
	}
}

.design-img-3 {
	width: 100% !important;
}

@media (min-width: 521px) {
	.design-img-3 {
		width: 50% !important;
	}
}

@media (min-width: 921px) {
	.design-img-3 {
		width: 1/3*100% !important;
	}
}

.design-img-4 {
	width: 50% !important;
}

@media (min-width: 521px) {
	.design-img-4 {
		width: 1/3*100% !important;
	}
}

@media (min-width: 921px) {
	.design-img-4 {
		width: 25% !important;
	}
}

.withpad {
	padding: 5px;
	box-sizing: border-box;
}

@media (min-width: 521px) {
	.withpad {
		padding: 10px;
		box-sizing: border-box;
	}
}

@media (min-width: 921px) {
	.withpad {
		padding: 20px;
		box-sizing: border-box;
	}
}

.design-9-title {
	margin-top: 40px;
}

@media (min-width: 521px) {
	.design-9-title {
		margin-top: 60px;
	}
}

@media (min-width: 921px) {
	.design-9-title {
		margin-top: 100px;
	}
}

.slick-next:before, .slick-prev:before {
	color: black !important;
}

#design1_carousel .slick-slide {
	padding: 10px;
	box-sizing: border-box;
}

.slick-next, .slick-prev {
	background-image: url('/site/image/scroll button-normal.png');
	height: 50px;
	width: 38px;
	margin-top: -25px;

	&:hover {
		background-image: url('/site/image/scroll button - hover.png');
	}
}

.slick-next {
	right: -38px;
}

.slick-prev {
	left: -38px;
	transform: rotate(180deg);
}

.bigonly {
	display: none !important;
}
@media (min-width: 921px) {
	.bigonly {
		display: block !important;
	}
}
.smallonly {
	display: none !important;
}
@media (max-width: 921px) {
	.smallonly {
		display: block !important;
	}
}