div.site-thx
    div.site-thx-gotop
        img.whenhover(src='#{imgpre}/home/home page icon_TOP Hover.png' style='cursor: pointer;')
        img.whennohover(src='#{imgpre}/home/home page icon_TOP Normal.png' style='cursor: pointer;')
    div Thanks for watching my works!
    script.
        $('.site-thx img').on('click', function (){ $('body').animate({scrollTop:0}, 300); });