div#footer.float-shadow.col-12.relpos
    div.footer-disclaimer &copy; All rights reserved by Ping Song
    div.img-footer-link-area
        a.img-footer-link(href='mailto://songping2500651@hotmail.com')
            img.whennohover(src='#{imgpre}/icons/home page icon-15.png')
            img.whenhover(src='/site/image/icons/home page icon-40-hover.png')
        a.img-footer-link(href='https://www.facebook.com/ping.song.56' target='_blank')
            img.whennohover(src='#{imgpre}/icons/home page icon-16.png')
            img.whenhover(src='/site/image/icons/home page icon-41-hover.png')
        a.img-footer-link(href='https://www.linkedin.com/profile/view?id=56342085&trk=hp-identity-photo' target='_blank')
            img.whennohover(src='#{imgpre}/icons/home page icon-17.png')
            img.whenhover(src='/site/image/icons/home page icon-42-hover.png')
