
@import 'variables';

@font-face {
	font-family: 'Segoe UI Light';
	src:url('../font/Segoe UI Light 8.TTF') format('truetype');
}

body {
	margin: auto;
	font-family: 'Segoe UI';
	font-weight: lighter;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hidden {
	display: none;
}

.relpos {
	position: relative;
}

.abspos {
	position: absolute;
}

.col-12 {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.float-shadow {
	background-color: $bg_color;
	opacity: 0.95;
}

a {
	color: $font_white;
	text-decoration: none;

	&:hover {
		color: white;
	}
}

.text-center {
	text-align: center;
}

.overflow-hidden {
	overflow: hidden;
}