
@import 'variables';

#design_area {
	padding-top: 80px;
	padding-bottom: 320px;
}

.design-item {
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
	
	&:hover {
		background-color: $bg_color_grey;

		.design-title {
			font-size: 20px;
			margin-top: 5px;
		}

		.design-img {
			height: 100px;
			width: 100px;
		}

		.design-item-content {
			margin-top: -62.5px;
		}
	}

	.design-title {
		margin-top: 4px;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		color: #999999;
		transition: font-size 0.5s, margin-top 0.5s;
	}

	.design-img {
		display: block;
		width: 80px;
		height: 80px;
		margin: auto;
		transition: height 0.5s, width 0.5s;
	}

	.design-item-content {
		top: 50%;
		margin-top: -50px;
		position: absolute;
		width: 100%;
		transition: margin-top 0.5s;
	}
}

@media (max-width: 520px) {
	.design-item {
		height: 180px;
		width: 100%;
	}

	#design_area {
		padding-bottom: 120px;
	}
}

@media (min-width: 521px) {
	.design-item {
		height: 280px;
		width: 50%;
	}
}

@media (min-width: 921px) {
	.design-item {
		height: 280px;
		width: 1/3 * 100%;
	}
}

