
@import 'variables';

.footer-disclaimer {
	color: #999999;
	font-size: 14px;
	line-height: 40px;

	&:hover {
		color: white;
	}
}

.footer-disclaimer, .img-footer-link-area {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	height: 40px;
}

.img-footer-link {
	margin: 0px 8px;
	height: 40px;
	width: 40px;

	img {
		height: 40px;
		width: 40px;
	}

	.whenhover {
		display: none;
	}

	&:hover {
		.whennohover {
			display: none;
		}
		.whenhover {
			display: inline-block;
		}
	}
}

@media (max-width: 520px) {
	#footer {
		height: 60px;
	}

	.footer-disclaimer {
		display: none;
	}

	.img-footer-link-area {
		text-align: center;
		width: 100%;
	}
}

@media (min-width: 521px) {
	#footer {
		height: 80px;
	}

	.footer-disclaimer {
		left: 30px;
	}

	.img-footer-link-area {
		right: 30px;
	}
}

.site-thx-gotop {
	text-align: center;
	display: inline-block;
	margin-bottom: 10px;

	&:hover {
		.whenhover {
			display: inline-block;
		}

		.whennohover {
			display: none;
		}
	}
	
	.whenhover {
		display: none;
	}

	.whennohover {
		display: inline-block;
	}
}

@media (min-width: 721px) {
	.site-thx-gotop {
		margin-bottom: 20px;
	}
}

@media (min-width: 921px) {
	.site-thx-gotop {
		margin-bottom: 30px;
	}
}