
$bg_color: #231F20;
$bg_color_grey: #F7F7F7;
$bg_color_darkgrey: #989898;

$font_grey: #939597;
$font_grey_light: #A7A8A9;

$font_grey_title: #666666;
$font_grey_content: #888888;

$font_white: #6D6D6D;